<div class="container">

  <h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/Noto_Emoji_KitKat_1f606.svg/96px-Noto_Emoji_KitKat_1f606.svg.png"> SURAIMU FINDER
  </h1>

  <p>Android 4.4 KitKat の絵文字をキーワードからすばやく検索できるサービスです。
    <br>提供元：
    <a href="https://commons.wikimedia.org/wiki/Emoji">Emoji - Wikimedia Commons</a>
  </p>

  <!-- search form -->
  <form class="search-form" onsubmit="return false">
    <mat-form-field>
      <input #keyword id="keyword" type="text" matInput placeholder="キーワードを入力！（例：face）" (keyup)="search(keyword.value)">
    </mat-form-field>
  </form>

  <ul class="search-result">
    <li *ngFor="let emoji of emojis | async">
      <a [href]="emoji.url" target="_blank">
        <img [src]="emoji.thumbnail_url" [alt]="emoji.text">
        <p class="desc">{{ emoji.keywords.join(' ') }}</p>
      </a>
    </li>
  </ul>

  <mat-divider *ngIf="(emojis | async)?.length > 0"></mat-divider>

  <footer>
    <a href="https://github.com/castaneai/suraimu-finder" target="_blank">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg">castaneai/suraimu-finder</a>
  </footer>

</div>